@using Domain.Dtos;
@using Domain.Services
@model CreateCommentViewModel
@inject IUserService _userService;

@{
    Guid userId = _userService.GetAuthorizeUserId();
    if (userId == Guid.Empty)
    {
        <a asp-controller="Account" asp-action="Login">Войдите, чтобы оставить комментарий</a>
    }
    else
    {
        <div class="container">
            <div class="form-floating w-50">
                <input id="messageInput" asp-for="Content" type="text" class="form-control" placeholder="Введите комментарий" />
                <label asp-for="Content" class="form-label">Комментарий</label>
                <input id="articleId" asp-for="ArticleId" value="@Model.ArticleId" hidden />
                <input id="userId" value="@userId" hidden />
            </div>
            <span class="text-danger" asp-validation-for="Content"></span>
            <div class="text-danger mb-2">@ViewBag.Error</div>
            <input id="sendButton" type="submit" value="Отправить" class="btn btn-outline-success mb-3">
        </div>
    }
}