@using Domain.Entities

<div class="card d-flex flex-column">
    <div class="card-header d-flex flex-row align-content-start">
        <h1>Список Тегов</h1>
        <form asp-action="CreateTag"
              method="get"
              class="ms-3">
            <div>
                <input type="submit" value="Создать тег" class="btn btn-success btn-lg float-end" />
            </div>
        </form>
        @if (ViewBag.Check != null)
        {
            await Html.RenderPartialAsync("_CreateTag.cshtml");
        }
    </div>
    <ul class="m-3 list-group list-group-flush">
        @foreach (Tag tag in ViewBag.TagList)
        {
            <li class="list-group-item">
                <h2 class="text-success">@tag.Name</h2>
            </li>
        }
    </ul>
</div>