body {
}

.button {
    background-color: transparent;
    border-color: transparent;
}

.btn-orange {
    background: orange;
    color: whitesmoke;
}

    .btn-orange:hover {
        background: #eb9800;
        color: whitesmoke;
    }

.btn-sort {
    background-color: transparent;
    border-color: transparent;
}
