<div class="d-flex bd-highlight flex-wrap">
    <div class="d-flex bd-highlight flex-fill flex-column">
        <h3>Карта землетрясений</h3>
        <iframe scrolling="no"
                frameborder="0"
                style="border:0;
                   width: 100%;
                   height: 95%;
                   min-height: 550px;
                   min-width: 550px;
                   margin:0;
                   padding:0;"
                src="https://earthquaketrack.ru/eq_map/">
        </iframe>
    </div>
    <div class="d-flex flex-column flex-fill">
        <h3 class="ms-3">Узнать информацию о загрязнении воздуха</h3>
        @{
            await Html.RenderPartialAsync("_GetAirPolution.cshtml");
        }
        @if (ViewBag.Check != null)
        {
            await Html.RenderPartialAsync("_AirPolutionInfo.cshtml", ViewBag.AirPolutionInfo as AirPolutionDto);
        }
    </div>
    <div class="d-flex mt-3 flex-column flex-fill align-content-stretch">
        <h3>Карта лесных пожаров</h3>
        <iframe scrolling="no"
                frameborder="0"
                style="border:0;
                   width: 100%;
                   height: 95%;
                   min-height: 550px;
                   min-width: 550px;
                   margin:0;
                   padding:0;"
                src="https://www.arcgis.com/apps/mapviewer/index.html?webmap=df8bcc10430f48878b01c96e907a1fc3">
        </iframe>
    </div>
</div>
