 @using Domain.Dtos;
 @model ArticleListViewModel
 
 <div>
    @{
        <div>
            <div class="d-flex justify-content-between align-items-center">
                <h2>Статьи</h2>
                <a class="btn btn-outline-success" asp-action="Create">
                    Добавить
                </a>
            </div>
            @{
                foreach (var article in Model.Articles)
                {
                    <div>
                        <a class="text-decoration-none"
                           asp-action="Article"
                           asp-route-articleId="@article.Id">
                            <h3>@article.Title</h3>
                        </a>
                        <h4>@article.Owner.Login</h4>
                    </div>
                }
            }
        </div>
     }
 </div>
