 @using Domain.Dtos;
 @model ArticleListViewModel
 
 <div>
     <div class="flex-column d-flex card justify-content-between align-items-center">
         <h2>Статьи</h2>
         <a class="btn btn-outline-success" asp-action="Create">
             Добавить
         </a>
     </div>
     <div class="card">
        @foreach (var article in Model.Articles)
        {
            <div class="row">
                <div class="card mb-3" style="width: 25rem;">
                    <div class="card-body">
                        <h5>
                            <a class="card-title link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                               asp-action="Article"
                               asp-route-articleId="@article.Id">
                                @article.Title
                            </a>
                        </h5>
                        <div class="card-subtitle">
                            <h5 class="card-subtitle">Дата публикации: @article.CreationDate.ToShortDateString()</h5>
                            <h5 class="card-subtitle">Время публикации: @article.CreationDate.ToShortTimeString()</h5>
                        </div>
                    </div>
                </div>
            </div>
        }
     </div>
 </div>
