 @using Domain.Dtos;
 @model ArticleListViewModel
 
 <div>
    <div class="flex-column d-flex card justify-content-between align-items-center mb-3">
         <h2>Статьи</h2>
         <a class="btn btn-outline-success mb-3" asp-action="Create">
             Добавить
         </a>
     </div>
    <div class="d-flex justify-content-center flex-wrap">
         @foreach (var article in Model.Articles)
         {
             <div class="card m-3">
                 <div class="card-body">
                     <h5 class="card-title">@article.Title</h5>
                     <p class="card-text"></p>
                     <div class="card-subtitle">
                         <h5 class="card-subtitle">Дата публикации: @article.CreationDate.ToShortDateString()</h5>
                         <h5 class="card-subtitle">Время публикации: @article.CreationDate.ToShortTimeString()</h5>
                     </div>
                     <a class="btn btn-success mt-3"
                     asp-action="Article"
                     asp-route-articleId="@article.Id">
                     Читать
                     </a>
                 </div>
             </div>
         }
     </div>
 </div>
