@using Domain.Dtos;
@using Domain.Entities
@model CreateArticleViewModel

<div class="card align-items justify-content-center">
    <div class="row m-5 d-flex">
        <h1 class="text-center text-success">Напишите свою статью</h1>
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-1">
                <h4><label asp-for="Title"></label></h4>
                <textarea asp-for="Title" class="form-control text-wrap"> </textarea>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-1">
                <h4><label asp-for="Content"></label></h4>
                <textarea asp-for="Content" class="form-control"> </textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="d-flex flex-column align-items-start">
                <h4><label asp-for="TagGuids">Теги</label></h4>
                <span asp-validation-for="TagGuids" class="text-danger"></span>
                <select class="form-select" asp-items="ViewBag.TagsToSelect" asp-for="TagGuids" multiple>
                    <option class="text-lg" disabled>Добавьте теги к своей статье</option>
                </select>
                <a asp-action="TagList" asp-controller="Tag" class="btn m-2 btn-success">Добавить тег</a>
            </div>

            <div class="row m-2" j>
                <div class="col-8">
                    <a asp-action="Articles" class="btn btn-danger">Отмена</a>
                </div>
                <div class="col-4">
                    @if (!string.IsNullOrWhiteSpace(ViewData["Reffer"]?.ToString()))
                    {
                        <input asp-for="PreviousUrl" value="@ViewData["Reffer"].ToString()" hidden />
                    }
                    <button type="submit" class="btn btn-success btn-lg float-end">Создать</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>